<!-- login.html -->
{% extends 'fortune_teller/account/account_generic.html' %}

{% block title %} Login {% endblock %}


{% block account_content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <fieldset>
      
      <input type="text" name="username" placeholder=" " id="id_username"  value="{{ form.username.value }}">
      <label for="id_username">Username:</label>
      {% for error in form.username.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </fieldset>

    <fieldset>
      
      <input type="password" placeholder=" " name="password" id="id_password">
      <label for="id_password">Password:</label>
      {% for error in form.password.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </fieldset>
    

    <button type="submit">Login</button>
  </form>
  <a href="{% url 'password_reset' %}">Forgot password?</a>
  <br>
  <div class="sign-up">
    Don't have an account? <a href="{% url 'register' %}">Create One</a>
  </div>

{% endblock %}