{% extends 'fortune_teller/account/account_generic.html' %}

{% block account_content %}
    <h2>Reset Password</h2>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="new_password1">New Password:</label>
            <input type="password" name="new_password1" id="new_password1">
        </div>
        <div>
            <label for="new_password2">Confirm New Password:</label>
            <input type="password" name="new_password2" id="new_password2">
        </div>
        <input type="submit" value="Change Password">
    </form>
{% endblock %}
