

{% extends 'fortune_teller/account/account_generic.html' %}

{% block account_content %}
  <h2>Change Password</h2>
  <p>Type your email address, we will send you an email with further instructions.</p>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <fieldset>
        {{ field }} 
        {{ field.label_tag }}
      </fieldset>
      {% if field.errors %}
        <div class="form-errors">
          {% for error in field.errors %}
            <span class="error-message">{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
    <button type="submit">Reset Password</button>

  </form>
{% endblock %}