body {
  font-family: Lato, sans-serif;
  background-color: #3d0139;
  color: #f4f4f4;
  text-align: center;
  position: relative;
  margin: 0;
  min-height: 100vh; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6em; }

.fortune-container, .fortune-box {
  background-color: #d82b82;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  display: inline-block;
  margin-top: 50px; }

.fortune-container, .fortune-box
p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px; }

.account-box, .fortune-box, .fortune-container {
  min-height: 10em;
  max-width: 30em;
  width: 100%;
  padding: 2em 3em;
  margin: 2em;
  background-color: #d82b82;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 3em; }

form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  form fieldset {
    position: relative;
    margin-bottom: 1em;
    border: none;
    padding: 0; }
    form fieldset select {
      width: 100%;
      padding: 10px;
      /* Some padding */
      margin: 8px 0;
      /* Margin for some space around the select */
      display: inline-block;
      /* Making sure it's inline-block */
      border: 1px solid #ccc;
      /* A subtle border */
      border-radius: 4px;
      /* Rounded borders */
      box-sizing: border-box;
      /* Box sizing to avoid size issues */
      transition: border-color 0.3s ease-in-out;
      /* Smooth transition for focus */ }
    form fieldset input, form fieldset select, form fieldset textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1em;
      transition: border-color 0.3s ease;
      border: 1px solid #555;
      background-color: #433d3d;
      border-radius: 4px;
      font-size: 16px;
      color: #f4f4f4;
      outline: none; }
      form fieldset input:focus, form fieldset select:focus, form fieldset textarea:focus {
        outline: none; }
        form fieldset input:focus + label, form fieldset select:focus + label, form fieldset textarea:focus + label {
          top: -6px;
          font-size: 12px;
          color: #433d3d;
          background-color: #d82b82;
          padding: 0 4px;
          border-radius: 4px;
          left: 8px; }
      form fieldset input:not(:placeholder-shown) + label, form fieldset select:not(:placeholder-shown) + label, form fieldset textarea:not(:placeholder-shown) + label {
        top: -6px;
        font-size: 12px;
        color: #433d3d;
        background-color: #d82b82;
        padding: 0 4px;
        border-radius: 4px;
        left: 8px; }
    form fieldset label {
      position: absolute;
      left: 12px;
      top: 12px;
      font-size: 14px;
      color: #777;
      transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease; }
  form h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    color: #433d3d; }
  form button[type="submit"] {
    display: block;
    min-width: 5em;
    padding: 10px;
    background-color: #952a97;
    color: #f4f4f4;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; }
    form button[type="submit"]:hover {
      background-color: #bb4aca; }
  form p {
    color: #f4f4f4; }

button {
  padding: 12px 18px;
  background-color: #952a97;
  color: #f4f4f4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease; }
  button:hover {
    background-color: #bb4aca; }

a {
  color: #f4f4f4;
  text-decoration: underline; }
  a:hover {
    color: #bb4aca; }

footer {
  background-color: #333;
  color: #f4f4f4;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6em; }
  footer a {
    color: #f4f4f4;
    text-decoration: none; }
    footer a:hover {
      text-decoration: underline; }

#fortune_teller_img {
  width: 100%;
  max-width: 40px;
  margin-bottom: 20px; }

header {
  background-color: #333;
  color: #f4f4f4;
  text-align: left;
  display: flex;
  position: relative;
  text-align: center;
  justify-content: space-between;
  margin: 0; }
  header h1 {
    margin: 0;
    font-size: 24px; }

.login-button p, .login-button a {
  margin: 0;
  padding: 8px 12px;
  background-color: #bb4aca;
  color: #f4f4f4;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block; }

.error-message {
  display: block; }

.form-errors {
  margin-bottom: 1em;
  color: red; }

table {
  width: 100%;
  border-collapse: collapse; }

th, td {
  border: 1px solid #0056b3;
  padding: 8px;
  text-align: left; }

th {
  color: #f4f4f4;
  background-color: #333; }

nav {
  width: 100%; }
  nav ul {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    flex-wrap: wrap;
    transition: max-height 0.5s ease-in-out; }
  nav li {
    display: inline;
    border-left: 1px solid #f4f4f4; }
    nav li a {
      display: block;
      color: #f4f4f4;
      text-align: center;
      padding: 1.2em 2em;
      text-decoration: none;
      font-size: 1em; }
    nav li a:hover {
      background-color: #555555; }
  nav li:not(:first-child) {
    float: right; }
  nav li:first-child {
    float: left;
    border: none;
    font-weight: bold; }
  nav .navbar-toggle {
    display: none;
    cursor: pointer;
    padding: 1em;
    font-size: 1.5em;
    color: #f4f4f4; }
    @media (max-width: 768px) {
      nav .navbar-toggle {
        display: block; } }
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      display: none; }
    nav li {
      border: none;
      width: 100%; } }
nav > ul > *:not(:first-child) {
  float: right; }

@media screen and (max-width: 768px) {
  footer {
    min-height: 2em; }
  .account-box {
    max-width: 80em;
    background-color: #d82b82; } }

.glittery-gold {
  background: linear-gradient(45deg, #ffd700, #ffffff, #ffd700, #ffffff);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: glitter 3s linear infinite; }

@keyframes glitter {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

#cookieConsentBanner {
  background-color: #333;
  color: #f4f4f4;
  padding: 10px 20px;
  bottom: 0em;
  border: #bb4aca 1px solid;
  border-radius: 1em;
  width: 60%;
  text-align: center;
  display: none;
  text-align: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%); }

#cookieConsentBanner button {
  color: #f4f4f4;
  background-color: #952a97;
  border: none;
  padding: 1em 1.5em;
  margin: 10px;
  cursor: pointer; }

#cookieConsentBanner button:hover {
  background-color: #555555; }

/*# sourceMappingURL=style.css.map */