<!-- base_generic.html -->
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fortune Teller App{% endblock %}</title>
    {% load static %}
    {% load sass_tags %}
    
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/style.scss' %}">
</head>
<body>
    {% include 'fortune_teller/header.html' %}
    {% include 'fortune_teller/messages.html' %}
    <div class="container"> 
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </div>
    {% include 'fortune_teller/footer.html' %}

    <div id="cookieConsentBanner">
        <p>This website uses cookies to ensure you get the best experience.</p>
        <button id="acceptCookies">I Accept</button>
    </div>


    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
