<!-- edit_fortune.html -->
{% extends 'fortune_teller/base_generic.html' %}

{% block content %}
  <div class="fortune-box">
  <h2>Edit Fortune</h2>
  <h5>Future is sometimes unpredictable.  <br> Everything may change</h5>
   
  <form method="post">
    {% csrf_token %}
    {% for field in form %}

    <fieldset>
      {% if field.errors %}
        <ul class="errorlist">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {{ field }} 
      {{ field.label_tag }}
    </fieldset>

  {% endfor %}    
  <button type="submit">Change future.</button>
  </form>
  </div>
{% endblock %}