
<!-- view_fortunes.html -->
{% extends 'fortune_teller/base_generic.html' %}

{% block content %}
  <div class="fortune-box">
  <h2>This is the <b> yours </b> future!</h2>
  
  <br>
  <br>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Fortune</th>
        <th>Sex</th>
        <th>Zodiac Sign</th>
        <th>Edit them!</th>
      </tr>
    </thead>
    <tbody>
      {% for fortune in fortunes %}
        <tr>
          <td>{{ fortune.title }}</td>
          <td>{{ fortune.text }}</td>
          <td>{{ fortune.get_sex_display }}</td>
          <td>{{ fortune.get_zodiac_sign_display }}</td>
          <td> <a href="{% url 'edit_fortune' fortune.id %}">edit</a> </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">You have no fortunes added. Do you have any visions for the future?</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
